@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.request-message {
  box-shadow: 0 25px 50px -12px rgba(16, 24, 40, 0.25);
}
